body {
	background: #eceaea;
	max-width: 1920px;
	margin: 0 auto;
	color: @dimGray;
}

.title--font {
	font: 34px/40px OswaldMedium, sans-serif;
	text-transform: uppercase;
}

.span--psevdo-left {
	text-transform: uppercase;
	position: absolute;
	left: 30px;
	top: 532px;
	padding: 0 62px 0 56px;
	font-size: 14px;
	color: #474747;
	letter-spacing: 1.4px;
	font-weight: 100;
	transform: rotate(-90deg);

	&:before {
		width: 21px;
		height: 2px;
		top: 9px;
		left: 0;
		background: @dimGray;
	}

	&:after {
		width: 27px;
		height: 1px;
		top: 9px;
		right: 0;
		background: @dimGray;
	}
}

.div--count {
	font: 14px HelveticaNeueCyrBold, sans-serif;
	letter-spacing: .02em;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 123px;
	display: flex;
	justify-content: space-between;

	&--number {
		padding-top: 3px;

		&:after {
			content: 'шт.';
		}
	}

	&--minus, &--plus {
		width: 22px;
		height: 22px;
		background: #fff;
		border-radius: 50%;
		font-size: 20px;
		line-height: 100%;
	}
}

.span--close {
	cursor: pointer;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: .7px;
	text-transform: uppercase;
	position: absolute;
}
