.represent {
	display: flex;
	align-items: center;
	height: 100vh;
	min-height: 900px;
	padding-top: 195px;
	background: url("../img/represent.jpg") right no-repeat;
	background-size: cover;
	position: relative;

	@media screen and (max-width: 1919px) {
		min-height: 700px;
		padding-top: 130px;
	}

	@media screen and (max-width: 1365px) {
		min-height: 650px;
		padding-top: 80px;
	}

	// @media screen and (max-width: 1023px) and (width: 1024px) and (orientation: portrait) {
	// 	min-height: 955px;
	// }
	//
	// @media screen and (max-width: 767px) {
	// 	min-height: auto;
	// }

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background: @darkOrange;
	}

	&__part {
		width: 50%;

		@media screen and (max-width: 1023px) {
			width: 100%;
		}

		&--left {
			padding: 45px 35px 40px 130px;

			@media screen and (max-width: 1919px) {
				padding: 30px 30px 30px 60px;
			}

			@media screen and (max-width: 1023px) {
				order: 2;
			}
		}

		&--right {
			@media screen and (max-width: 1023px) {
				order: 1;
			}
		}
	}
}
