.section {
	position: relative;

	&__content {
		position: relative;

		&--represent {
			display: flex;
		}

		&--why-we {
			padding-left: 130px;

			@media screen and (max-width: 1919px) {
				padding-left: 90px;
			}
		}
	}

	&__name {
		position: absolute;
		left: 10px;
		font: 14px @CalibriLight;
		letter-spacing: .04em;
		text-transform: uppercase;
		transform: rotate(-90deg);
		transform-origin: left;
		padding: 0 60px;


		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			height: 1px;
			width: 25px;
			transform: translateY(-50%);
			background: @dimGray;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			height: 1px;
			width: 25px;
			transform: translateY(-50%);
			background: @dimGray;
		}

		&--represent {
			top: 290px;
		}

		&--why-we {
			top: 480px;
		}

		&--shop {
			top: 700px;
		}
	}

	&__title {
		font: 77px/80px @OswaldMedium;
		text-transform: uppercase;

		@media screen and (max-width: 1919px) {
			font-size: 64px;
		}

		&--represent {
			color: @white;
			letter-spacing: .04em;
			margin-bottom: 115px;
			position: relative;

			@media screen and (max-width: 1919px) {
				margin-bottom: 90px;
			}

			&:before {
				content: '';
				position: absolute;
				bottom: -50px;
				left: 5px;
				height: 1px;
				width: 20px;
				background: @orange;

				@media screen and (max-width: 1919px) {
					bottom: -40px;
				}
			}
		}

		&--why-we {
			margin-bottom: 80px;
		}

		&--shop {
			margin-bottom: 60px;
			padding-left: 130px;

			@media screen and (max-width: 1919px) {
				padding-left: 90px;
				margin-bottom: 50px;
			}
		}
	}
}
