.section {
	position: relative;

	&__content {
		position: relative;

		&--represent {
			display: flex;
		}

		&--why-we {
			padding-left: 130px;

			@media screen and (max-width: 1919px) {
				padding-left: 90px;
			}

			@media screen and (max-width: 1365px) {
				padding-left: 60px;
			}
		}
	}

	&__name {
		position: absolute;
		left: 10px;
		font: 14px @CalibriLight;
		letter-spacing: .04em;
		text-transform: uppercase;
		transform: rotate(-90deg);
		transform-origin: left;
		padding: 0 60px;

		@media screen and (max-width: 1365px) {
			padding: 0 40px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			height: 1px;
			width: 25px;
			transform: translateY(-50%);
			background: @dimGray;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			height: 1px;
			width: 25px;
			transform: translateY(-50%);
			background: @dimGray;
		}

		&--represent {
			top: 53%;

			@media screen and (max-width: 1919px) {
				top: 68%;
			}
		}

		&--why-we {
			top: 61%;
		}

		&--shop {
			top: 53%;
		}
	}

	&__title {
		font: 77px/80px @OswaldMedium;
		text-transform: uppercase;

		@media screen and (max-width: 1919px) {
			font-size: 64px;
		}

		@media screen and (max-width: 1365px) {
			font-size: 48px;
			line-height: 60px;
		}

		&--represent {
			color: @white;
			letter-spacing: .04em;
			margin-bottom: 115px;
			position: relative;

			@media screen and (max-width: 1919px) {
				margin-bottom: 90px;
			}

			@media screen and (max-width: 1365px) {
				margin-bottom: 50px;
			}

			&:before {
				content: '';
				position: absolute;
				bottom: -50px;
				left: 5px;
				height: 1px;
				width: 20px;
				background: @orange;

				@media screen and (max-width: 1919px) {
					bottom: -40px;
				}

				@media screen and (max-width: 1365px) {
					bottom: -25px;
				}
			}
		}

		&--why-we {
			margin-bottom: 80px;

			@media screen and (max-width: 1919px) {
				margin-bottom: 60px;
			}

			@media screen and (max-width: 1365px) {
				margin-bottom: 40px;
			}
		}

		&--shop {
			margin-bottom: 60px;
			padding-left: 130px;

			@media screen and (max-width: 1919px) {
				padding-left: 90px;
				margin-bottom: 50px;
			}

			@media screen and (max-width: 1365px) {
				padding-left: 60px;
				margin-bottom: 40px;
			}
		}
	}

	&__text {
		font: 24px/30px @CalibriLight;

		@media screen and (max-width: 1919px) {
			font-size: 22px;
			line-height: 28px;
		}

		@media screen and (max-width: 1365px) {
			font-size: 18px;
			line-height: 22px;
		}

		&--represent {
			max-width: 550px;
			letter-spacing: .025em;
			margin-bottom: 60px;

			@media screen and (max-width: 1919px) {
				margin-bottom: 50px;
			}

			@media screen and (max-width: 1365px) {
				margin-bottom: 30px;
			}
		}

		&--why-we {
			letter-spacing: .04em;

			&:not(:last-child) {
				margin-bottom: 30px;

				@media screen and (max-width: 1919px) {
					margin-bottom: 25px;
				}

				@media screen and (max-width: 1365px) {
					margin-bottom: 20px;
				}
			}
		}
	}
}
