
<header class="header"><a class="logo" href="#"><img src="img/logo.png" alt="logo"/></a>
  <div class="header__control"><a class="btn btn--basket" href="#"><span class="btn__text btn__text--header">корзина</span>
      <svg class="icon icon--basket">
        <use class="icon__item" xlink:href="#basket"></use>
      </svg></a><a class="btn btn--menu" href="#"><span class="btn__text btn__text--header">меню</span>
      <div class="btn__icon"><small class="btn__line btn__line--burger btn__line--burger-top"></small><small class="btn__line btn__line--burger btn__line--burger-mid"></small><small class="btn__line btn__line--burger btn__line--burger-bot"></small></div></a></div>
</header>