
<header class="header"><a class="logo" href="#"><img src="img/logo.png" alt="logo"/></a>
  <div class="header__control"><a class="btn btn--basket" href="#"><span class="btn__text btn__text--header">корзина</span>
      <svg class="icon icon--basket">
        <use class="icon__item" xlink:href="#basket"></use>
      </svg></a><a class="btn btn--menu" href="#"><span class="btn__text btn__text--header">меню</span><small class="btn__line btn__line--burger"></small></a></div>
</header>
<div class="burger"><a class="btn btn--close-burger" href="#">Закрыть</a>
  <div class="burger__wrap">
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Главная</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Почему здравофарм</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Магазин</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Кто пользуется</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Спонсоры</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Наши клиенты</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Продукция</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Видео-отзывы</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Мероприятия</a></li>
    </ul>
    <div class="burger__footer">
      <ul class="social">
        <li class="social__item"><a class="social__link" href="#">Instagram</a></li>
        <li class="social__item"><a class="social__link" href="#">Telegram</a></li>
      </ul>
      <ul class="lang">
        <li class="lang__item"><a class="lang__link" href="#">ua</a></li>
        <li class="lang__item"><a class="lang__link" href="#">ru</a></li>
      </ul>
    </div>
  </div>
</div>