<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="max-age=31536000, public">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="style.css">
    <!-- <script src="js/inputmask.js">-->
    <!-- <script src="js/jquery.nicescroll.min.js">-->
  </head>
  <body>
    <div class="wrapper">
      <header class="header"><a class="header__logo" href="#"><img src="img/logo.png" alt="logo"></a>
        <div class="header__basket"><span>корзина</span><img src="img/basket.png" alt="basket"></div>
        <div class="header__menu"><span>меню</span>
          <div class="header__burger"></div>
        </div>
      </header>
      <main class="main">
        <section class="represent"></section>
      </main>
      <div class="modal-bg"></div>
      <div class="modal-recall modal-window">
        <form class="modal-recall__form form" action="#" method="POST">
          <h2 class="modal-recall__title title--font">Заказать звонок</h2>
          <div class="form__inputs">
            <input type="text" name="name" placeholder="Имя" required>
            <input type="tel" name="phone" placeholder="Телефон" required>
          </div>
          <button class="modal-recall__btn">Заказать</button><span class="modal-recall__close span--close">Закрыть</span>
        </form>
        <div class="modal-thanks" data-close="true"><img class="logo-orange" src="img/logo-orange.png" alt="logo">
          <h2 class="modal-thanks__title">Благодарим вас за запрос</h2>
          <p class="modal-thanks__p">Ваш запрос на звонок принят. В течении 10 минут оператор свяжется с вами!</p><a class="modal-thanks__btn modal__btn" href="#">Вернуться</a>
        </div>
      </div>
      <div class="basket">
        <div class="basket__wrap">
          <h2 class="pop-up__title title--font">Корзина</h2>
          <div class="basket__info">
            <div class="basket__list-wrap">
              <ul class="basket__list">
                <li class="basket-item"><img class="basket-item__img" src="img/1.png" alt="1"><span class="basket-item__name">Гинкло Билоба</span><span class="basket-item__count span--count">2 шт.</span><span class="basket-item__price">190 грн</span><span class="basket-item__close"></span></li>
                <li class="basket-item"><img class="basket-item__img" src="img/1.png" alt="1"><span class="basket-item__name">Гинкло Билоба</span><span class="basket-item__count span--count">2 шт.</span><span class="basket-item__price">190 грн</span><span class="basket-item__close"></span></li>
                <li class="basket-item"><img class="basket-item__img" src="img/1.png" alt="1"><span class="basket-item__name">Гинкло Билоба</span><span class="basket-item__count span--count">2 шт.</span><span class="basket-item__price">190 грн</span><span class="basket-item__close"></span></li>
                <li class="basket-item"><img class="basket-item__img" src="img/1.png" alt="1"><span class="basket-item__name">Гинкло Билоба</span><span class="basket-item__count span--count">2 шт.</span><span class="basket-item__price">190 грн</span><span class="basket-item__close"></span></li>
              </ul>
            </div>
            <form class="basket__form form" action="" method="POST">
              <div class="form__wrap">
                <h3 class="pop-up__title-h3">Оформление заказа</h3>
                <div class="form__inputs">
                  <input type="text" name="name" placeholder="Имя" required>
                  <input type="tel" name="phone" placeholder="Телефон" required>
                  <input type="email" name="email" placeholder="Адрес доставки новой почтой" required>
                </div>
                <div class="form__div-pay">
                  <div class="form__total"><span class="form__name">Итого:</span>
                    <div class="form__div-count div-count"><span class="form__number div-count--numder">10000</span><span class="form__curr div-count--curr">грн.</span></div>
                  </div>
                  <button class="pop-up__btn">Оформить</button>
                </div>
              </div>
            </form>
          </div><span class="pop-up__close span--close">Закрыть</span>
        </div>
        <div class="pop-up__thanks"><img class="logo-orange" src="img/logo-orange.png" alt="logo">
          <h2 class="pop-up__thanks-title">Благодарим вас за запрос</h2>
          <p class="pop-up__thanks-p">Ваша заявка принята. В течении часа оператор свяжется с вами для подтверждения деталей заказа!</p><a class="pop-up__btn" href="#">Вернуться</a>
        </div>
      </div>
    </div>
  </body>
</html>