<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="max-age=31536000, public">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" style="position:absolute;" aria-hidden="true" focusable="false">
      <symbol id="arrow" viewBox="0 0 28 17">
        <path d="M2 2l12 12L26 2" stroke-width="3" fill="none"></path>
      </symbol>
      <symbol id="basket" viewBox="0 0 29 25">
        <image xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAZCAQAAABnC+2SAAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN RQfkCQESHwrGgGa+AAABX0lEQVQ4y5WUvUoDQRSFz042cTUYlYhoMCFiI5aCmMLCNBaCpBH0CaIP IdYWglhYCkIaH0DwHSwMYiGGICoqBhFJwF0IxGMxWbMz7hLn3mbO5X7L2fm5IEIzxe3uKs/l8B5E oHuc764SrJqgDq8C6oC5/6M7XAqoaR6FdVnMogI1BrCAS3R+tYUCruFqXZtghvuMK1nmllbZYFmr HHMcHNXsCNYpNHMx1mgplQqTAh5mFSNF7OJbM9fBCeaUSh5tUPAm8DWLd4yHbEqaZ4pu0AJBL1Cy uRhx0sOKasrDedD+o3/GWCUEgDpsmEUC94AA8ISEIerg0UeHDNEkXiT6jJQhmsKbRN8xYoimffQD Y8bop49OGaITaEq0hUlDNIuWRF1kjFFXoh5mDNEc2oC88q9GV1Gw0RswJR7+eaNRafOUa8HZtMJb rtLpgw1ynTUW9LFms8QLeoyOL56z2HP3AypewRdqaShVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIw LTA5LTAxVDE4OjMxOjEwKzAzOjAwE4T66gAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0wOS0wMVQx ODozMToxMCswMzowMGLZQlYAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAA AElFTkSuQmCC"></image>
      </symbol>
    </svg>
    <div class="wrapper">
      <header class="header"><a class="logo" href="#"><img src="img/logo.png" alt="logo"></a>
        <div class="header__control"><a class="btn btn--basket" href="#"><span class="btn__text btn__text--header">корзина</span>
            <svg class="icon icon--basket">
              <use class="icon__item" xlink:href="#basket"></use>
            </svg></a><a class="btn btn--menu" href="#"><span class="btn__text btn__text--header">меню</span><small class="btn__line btn__line--burger"></small></a></div>
      </header>
      <div class="burger"><a class="btn btn--close-burger" href="#">Закрыть</a>
        <div class="burger__wrap">
          <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="#">Главная</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Почему здравофарм</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Магазин</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Кто пользуется</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Спонсоры</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Наши клиенты</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Продукция</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Видео-отзывы</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Мероприятия</a></li>
          </ul>
          <div class="burger__footer">
            <ul class="social">
              <li class="social__item"><a class="social__link" href="#">Instagram</a></li>
              <li class="social__item"><a class="social__link" href="#">Telegram</a></li>
            </ul>
            <ul class="lang">
              <li class="lang__item"><a class="lang__link" href="#">ua</a></li>
              <li class="lang__item"><a class="lang__link" href="#">ru</a></li>
            </ul>
          </div>
        </div>
      </div>
      <main class="main">
        <section class="represent represent--item-1 section">
          <div class="container">
            <div class="represent__content"><small class="section__name section__name--represent">пищевые добавки</small>
              <div class="represent__part represent__part--left">
                <h1 class="represent__title">время укреплять здоровье</h1>
                <p class="represent__descrip">Lorem ipsum dolor sit amet, consectetur, adipisicing elit, sed do eiusmod tempor. i/cididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p><a class="btn btn--represent" href="#">в магазин</a>
              </div>
              <div class="represent__part represent__part--right">
                <div class="slider">
                  <div class="slider__content">
                    <div class="slider__slide">
                      <div class="slider__img"><img src="img/cans.png" alt="cans"></div>
                    </div>
                  </div>
                  <div class="slider__control">
                    <div class="slider__count-slides"><span class="slider__num">01</span><small class="slider__separ"></small><span class="slider__num">02</span><small class="slider__separ"></small><span class="slider__num">03</span>
                    </div><a class="btn btn--subscribe" href="#">Подписаться</a>
                  </div>
                </div>
              </div>
            </div>
          </div><a class="btn btn--next-screen" href="#"><small class="btn__line btn__line--next-screen"></small>
            <svg class="icon icon--next-screen">
              <use class="icon__item" xlink:href="#arrow"></use>
            </svg></a>
        </section>
      </main>
    </div>
  </body>
</html>