@OswaldMedium: 'OswaldMedium', sans-serif;
@OswaldRegular: 'OswaldRegular', sans-serif;
@OswaldLight: 'OswaldLight', sans-serif;
@OswaldExtraLight: 'OswaldExtraLight', sans-serif;
@HelveticaNeueCyrBold: 'HelveticaNeueCyrBold', sans-serif;
@CalibriRegular: 'CalibriRegular', sans-serif;
@CalibriBold: 'CalibriBold', sans-serif;
@CalibriLight: 'CalibriLight', sans-serif;

.font('OswaldMedium', 'OswaldMedium', 500, normal);
.font('OswaldRegular', 'OswaldRegular', 400, normal);
.font('OswaldLight', 'OswaldLight', 300, normal);
.font('OswaldExtraLight', 'OswaldExtraLight', 200, normal);
.font('HelveticaNeueCyrBold', 'HelveticaNeueCyrBold', 500, normal);
.font('CalibriRegular', 'CalibriRegular', 400, normal);
.font('CalibriBold', 'CalibriBold', 700, normal);
.font('CalibriLight', 'CalibriLight', 300, normal);
