@OswaldMedium: 'OswaldMedium', sans-serif;
@OswaldRegular: 'OswaldRegular', sans-serif;
@OswaldLight: 'OswaldLight', sans-serif;
@OswaldExtraLight: 'OswaldExtraLight', sans-serif;
@HelveticaNeueCyrBold: 'HelveticaNeueCyrBold', sans-serif;

@font-face {
	font-family: 'OswaldMedium';
	src: url('../fonts/OswaldMedium.eot');
	src: url('../fonts/OswaldMedium.eot') format('embedded-opentype'),
		url('../fonts/OswaldMedium.woff2') format('woff2'),
		url('../fonts/OswaldMedium.woff') format('woff'),
		url('../fonts/OswaldMedium.ttf') format('truetype'),
		url('../fonts/OswaldMedium.svg#OswaldMedium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OswaldRegular';
	src: url('../fonts/OswaldRegular.eot');
	src: url('../fonts/OswaldRegular.eot') format('embedded-opentype'),
		url('../fonts/OswaldRegular.woff2') format('woff2'),
		url('../fonts/OswaldRegular.woff') format('woff'),
		url('../fonts/OswaldRegular.ttf') format('truetype'),
		url('../fonts/OswaldRegular.svg#OswaldRegular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OswaldLight';
	src: url('../fonts/OswaldLight.eot');
	src: url('../fonts/OswaldLight.eot') format('embedded-opentype'),
		url('../fonts/OswaldLight.woff2') format('woff2'),
		url('../fonts/OswaldLight.woff') format('woff'),
		url('../fonts/OswaldLight.ttf') format('truetype'),
		url('../fonts/OswaldLight.svg#OswaldLight') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OswaldExtraLight';
	src: url('../fonts/OswaldExtraLight.eot');
	src: url('../fonts/OswaldExtraLight.eot') format('embedded-opentype'),
		url('../fonts/OswaldExtraLight.woff2') format('woff2'),
		url('../fonts/OswaldExtraLight.woff') format('woff'),
		url('../fonts/OswaldExtraLight.ttf') format('truetype'),
		url('../fonts/OswaldExtraLight.svg#OswaldExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeueCyrBold';
	src: url('../fonts/HelveticaNeueCyrBold.eot');
	src: url('../fonts/HelveticaNeueCyrBold.eot') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyrBold.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyrBold.woff') format('woff'),
		url('../fonts/HelveticaNeueCyrBold.ttf') format('truetype'),
		url('../fonts/HelveticaNeueCyrBold.svg#HelveticaNeueCyrBold') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
