.btn {
	display: inline-block;
	text-align: center;
	cursor: pointer;

	&--main {
		font: 16px @CalibriBold;
		border-radius: 30px;
		text-transform: uppercase;
		min-width: 250px;
		padding: 20px 50px;
		letter-spacing: .1em;

		@media screen and (max-width: 1919px) {
			min-width: 220px;
			padding-left: 30px;
			padding-right: 30px;
		}

		@media screen and (max-width: 1365px) {
			font-size: 14px;
			min-width: 190px;
		}
	}

	&--represent {
		color: @dimGray;
		background: @white;
	}

	&--next-screen {
		position: absolute;
		bottom: 50px;
		left: 50%;
		width: 18px;
		transform: translateX(-50%);
		display: flex;
		flex-flow: column;
		align-items: center;

		@media screen and (max-width: 1919px) {
			bottom: 25px;
		}

		&:hover {
			.btn__line
				&:before {
					opacity: 1;
					width: 2px;
				}

				&:after {
					opacity: 0;
				}

			.icon {
				transform: translateY(10px);
			}
		}
	}

	&--subscribe {
		position: relative;
		text-transform: uppercase;
		font: 14px @CalibriLight;
		color: @white;
		transform: rotate(-90deg);
		transform-origin: center;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 150px;
		height: 150px;
		transition: font-size .15s ease-in-out .05s;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			right: 5px;
			width: 15px;
			height: 9px;
			background: url("../img/arrow.svg") no-repeat;
			background-size: cover;
			transition: transform .25s ease-in-out;
			transform: translateY(-50%) rotate(90deg);
		}

		&:hover {
			font-size: 16px;

			&:before {
				transform: translate(-130px, -50%) rotate(90deg);
			}
		}
	}

	&--basket {
		display: flex;
		align-items: center;
		margin-right: 60px;

		@media screen and (max-width: 1365px) {
			margin-right: 40px;
		}

		@media screen and (max-width: 1023px) {
			margin-right: 30px;
		}
	}

	&--close {
		&-burger {
			position: absolute;
			top: 50px;
			right: 165px;
			text-transform: uppercase;
			font: 16px @CalibriBold;
			letter-spacing: .07em;
			color: @white;
			padding-right: 35px;

			@media screen and (max-width: 1919px) {
				right: 100px;
			}

			@media screen and (max-width: 1365px) {
				top: 35px;
				right: 65px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 25px;
				height: 2px;
				background: @white;
				transform: rotate(-45deg);
				transform-origin: right;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				width: 25px;
				height: 2px;
				background: @white;
				transform: rotate(45deg);
				transform-origin: right;
			}
		}
	}

	&--menu {
		display: flex;
		align-items: center;
	}

	&--recall {
		position: absolute;
		bottom: 50px;
		right: 105px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 58px;
		height: 58px;
		border-radius: 50%;
		background: @dimGray;

		@media screen and (max-width: 1919px) {
			bottom: 40px;
			right: 85px;
		}

		@media screen and (max-width: 1365px) {
			bottom: 30px;
			right: 70px;
		}
	}

	&--shop {
		font: 16px @CalibriLight;
		color: @white;
		text-transform: uppercase;
		border: 1px solid @white;
		border-radius: 30px;
		padding: 12px 20px;
		min-width: 170px;
		transition: color .25s ease-in-out, background .25s ease-in-out;

		@media screen and (max-width: 1919px) {
			min-width: 150px;
		}

		@media screen and (max-width: 1365px) {
			font-size: 14px;
			padding: 10px 15px;
			min-width: 105px;
		}

		&:not(:last-child) {
			margin-right: 40px;

			@media screen and (max-width: 1919px) {
				margin-right: 25px;
			}

			@media screen and (max-width: 1365px) {
				margin-right: 20px;
			}
		}

		&:hover {
			font: 16px @CalibriBold;
			color: @dimGray;
			background: @white;
		}
	}

	&--buy {
		color: @white;
		background: @lightBlue;
	}

	&__line {
		&--next-screen {
			display: inline-block;
			width: 2px;
			height: 40px;
			margin-bottom: 5px;
			position: relative;

			@media screen and (max-width: 1365px) {
				height: 30px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				width: 1px;
				height: 25px;
				background: @white;
				transform: translateX(-50%);
				transition: height .25s ease-in-out;
				animation: changeSizeLine 1s ease-in-out infinite;
				opacity: 0;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				width: 1px;
				height: 100%;
				background: @white;
				transform: translateX(-50%);
			}
		}

		&--burger {
			position: relative;
			height: 2px;
			width: 28px;
			background: @white;

			@media screen and (max-width: 1023px) {
				width: 20px;
			}

			&:before {
				content: '';
				position: absolute;
				top: -8px;
				left: 0;
				height: 2px;
				width: 100%;
				background: @white;

				@media screen and (max-width: 1023px) {
					top: -6px;
				}
			}

			&:after {
				content: '';
				position: absolute;
				bottom: -8px;
				left: 0;
				height: 2px;
				width: 100%;
				background: @white;

				@media screen and (max-width: 1023px) {
					bottom: -6px;
				}
			}
		}
	}

	&__text {
		&--header {
			font: 16px @CalibriBold;
			letter-spacing: .07em;
			color: @white;
			text-transform: uppercase;
			display: inline-block;
			margin-right: 10px;

			@media screen and (max-width: 1365px) {
				font-size: 14px;
			}

			@media screen and (max-width: 1023px) {
				font-size: 12px;
			}
		}
	}
}
