.btn {
	display: inline-block;
	text-align: center;
	cursor: pointer;

	&--represent {
		font: 16px @CalibriBold;
		color: @dimGray;
		background: @white;
		border-radius: 30px;
		padding: 20px 50px;
		letter-spacing: .1em;
		text-transform: uppercase;
		min-width: 250px;
	}

	&--next-screen {
		position: absolute;
		bottom: 50px;
		left: 50%;
		width: 18px;
		height: 55px;
		transform: translateX(-50%);

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			width: 1px;
			height: 25px;
			background: @white;
			transform: translateX(-50%);
			transition: height .25s ease-in-out;
			animation: changeSizeLine 1s ease-in-out infinite;
			opacity: 0;
		}

		&:hover {
			.btn__line {
				height: 50px;
				opacity: 0;
			}

			&:before {
				opacity: 1;
				width: 2px;
			}

			.icon {
				transform: translateY(10px);
			}
		}
	}

	&--subscribe {
		position: relative;
		text-transform: uppercase;
		font: 14px @CalibriLight;
		color: @white;
		transform: rotate(-90deg);
		transform-origin: center;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 150px;
		height: 150px;
		transition: font-size .15s ease-in-out .05s;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			right: 5px;
			width: 15px;
			height: 9px;
			background: url("../img/arrow.svg") no-repeat;
			background-size: cover;
			transition: transform .25s ease-in-out;
			transform: translateY(-50%) rotate(90deg);
		}

		&:hover {
			font-size: 16px;

			&:before {
				transform: translate(-130px, -50%) rotate(90deg);
			}
		}
	}

	&--basket {
		display: flex;
		align-items: center;
		margin-right: 60px;
	}

	&--close {
		&-burger {
			position: absolute;
			top: 50px;
			right: 165px;
			text-transform: uppercase;
			font: 16px @CalibriBold;
			letter-spacing: .07em;
			color: @white;
			padding-right: 35px;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 25px;
				height: 2px;
				background: @white;
				transform: rotate(-45deg);
				transform-origin: right;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				width: 25px;
				height: 2px;
				background: @white;
				transform: rotate(45deg);
				transform-origin: right;
			}
		}
	}

	&--menu {
		display: flex;
		align-items: center;
	}

	&--recall {
		position: absolute;
		bottom: 50px;
		right: 105px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 58px;
		height: 58px;
		border-radius: 50%;
		background: @dimGray;
	}

	&--shop {
		font: 16px @CalibriLight;
		color: @white;
		text-transform: uppercase;
		border: 1px solid @white;
		border-radius: 30px;
		padding: 12px 20px;
		width: 30%;
		max-width: 170px;
		transition: color .25s ease-in-out, background .25s ease-in-out;

		@media screen and (max-width: 1919px) {
			max-width: 150px;
		}

		&:not(:last-child) {
			margin-right: 40px;

			@media screen and (max-width: 1919px) {
				margin-right: 25px;
			}
		}

		&:hover {
			font: 16px @CalibriBold;
			color: @dimGray;
			background: @white;
		}
	}

	&--buy {
		font: 16px @CalibriBold;
		letter-spacing: .1em;
		color: @white;
		width: 100%;
		max-width: 250px;
		border-radius: 30px;
		padding: 20px 30px;
		text-transform: uppercase;
		background: @lightBlue;
	}

	&__line {
		&--next-screen {
			display: inline-block;
			width: 1px;
			height: 40px;
			background: @white;
			margin: 0 auto;
		}

		&--burger {
			position: relative;
			height: 2px;
			width: 28px;
			background: @white;

			&:before {
				content: '';
				position: absolute;
				top: -8px;
				left: 0;
				height: 2px;
				width: 28px;
				background: @white;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: -8px;
				left: 0;
				height: 2px;
				width: 28px;
				background: @white;
			}
		}
	}

	&__text {
		&--header {
			font: 16px @CalibriBold;
			letter-spacing: .07em;
			color: @white;
			text-transform: uppercase;
			display: inline-block;
			margin-right: 10px;
		}
	}
}
