.burger {
	width: 50%;
	height: 100vh;
	min-height: 900px;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	justify-content: center;
	background: @burgundy;
	padding: 140px 40px 50px 170px;
	transform: translateX(100%);
	transition: transform .35s ease-in-out;
	z-index: 20;
	overflow-y: scroll;

	@media screen and (max-width: 1919px) {
		min-height: 700px;
		padding: 85px 40px 30px 60px;
	}

	@media screen and (max-width: 1365px) {
		min-height: 650px;
		padding-top: 75px;
		padding-left: 40px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../img/romb-burger.png) 0 0 no-repeat;
		background-size: 940px 745px;
		z-index: -1;
	}

	&__wrap {
		width: 510px;

		@media screen and (max-width: 1919px) {
			width: 450px;
		}

		@media screen and (max-width: 1365px) {
			width: 430px;
		}
	}

	&__footer {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
}
