.lang {
	display: flex;

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-right: 25px;

			&:before {
				content: '';
				position: absolute;
				top: 9px;
				right: -13px;
				width: 2px;
				height: 35px;
				background: @white;
			}
		}
	}

	&__link {
		font: 36px/50px @OswaldExtraLight;
		letter-spacing: .04em;
		cursor: pointer;
		color: @white;
		text-transform: uppercase;
		transition: font .25s ease-in-out;

		&--active {
			font-family: @OswaldMedium;
		}
	}
}
