.slider {
	&--represent {
		padding-right: 70px;
		position: relative;
	}

	&--shop {
		width: 450px;
		flex: 0 0 auto;
		min-height: 550px;
		padding-left: 60px;
		padding-right: 40px;

		@media screen and (max-width: 1919px) {
			width: 360px;
			padding-left: 50px;
			padding-right: 30px;
			min-height: 400px;
		}

		@media screen and (max-width: 1365px) {
			width: 260px;
			padding-left: 40px;
			padding-right: 20px;
		}

		@media screen and (max-width: 1023px) {
			width: 250px;
			padding: 0 40px;
			margin: 0 auto 60px;
			min-height: 100%;
		}
	}

	&__content {
		&--shop {
			padding-top: 75px;
			margin-bottom: 30px;

			@media screen and (max-width: 1919px) {
				padding-top: 50px;
			}

			@media screen and (max-width: 1365px) {
				padding-top: 35px;
				margin-bottom: 25px;
			}
		}
	}

	&__slide {
		overflow: hidden;

		&--show {
			display: flex;
			justify-content: center;
		}
	}

	&__img {
		display: inline-block;

		&--represent {
			width: 1040px;
			height: 625px;
			margin-left: -190px;

			@media screen and (max-width: 1919px) {
				width: 150%;
				height: auto;
				margin-left: -210px;
			}

			@media screen and (max-width: 1365px) {
				margin-left: -110px;
			}
		}

		&--shop {
			width: 100%;
			height: 100%;
			max-width: 340px;
			max-height: 510px;

			@media screen and (max-width: 1919px) {
				max-width: 100%;
				max-height: none;
			}
		}
	}

	&__control {
		&--represent {
			position: absolute;
			top: 0;
			right: 15px;
			height: 100%;
			width: 20px;
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 65px;
		}

		&--shop {
			display: flex;
			justify-content: space-between;
			width: 130px;
			margin: 0 auto;

			@media screen and (max-width: 1365px) {
				width: 100px;
			}
		}
	}

	&__count-slides {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		flex: 1 0 auto;
		margin: 40px 0 20px;

		@media screen and (max-width: 1365px) {
			margin-top: 20px;
		}
	}

	&__num {
		font: 14px @CalibriRegular;
		color: @dimGray;
		letter-spacing: .04em;

		&--active {
			color: @white;
		}
	}

	&__separ {
		display: inline-block;
		width: 1px;
		height: 22px;
		background: @dimGray;
		margin: 10px 0;

		@media screen and (max-width: 1365px) {
			height: 15px;
		}
	}

	&__btn {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
